   body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f4f4f4;
        }
        header {
            background-color: #2d4739;
            color: white;
            padding: 10px;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        nav {
            display: flex;
            justify-content: flex-end;
        }
        nav a {
            color: white;
            margin: 0 10px;
            text-decoration: none;
        }
        nav a.active {
            font-weight: bold;
        }
        main {
            padding: 20px;
        }
        .hero {
           /* background: url('#' alt="핸드드립 커피 제조 이미지") center/cover no-repeat; */
            height: 300px;
            color: white;
            display: flex;
            align-items: flex-start;
            justify-content: center;
            font-size: 2rem;
            font-weight: bold;
            text-shadow: 1px 1px 4px #000;
            

        }
        .board-notice-box {
            display: flex;
            justify-content: space-between;
            margin-bottom: 20px;
        }
        .notice-box, .free-board-box {
            background-color: #fff;
            padding: 20px;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            width: 48%;
        }
        .brand-story, .popular-menu {
            background-color: #fff;
            padding: 20px;
            margin: 20px;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }
        .menu-items {
            display: flex;
            justify-content: space-around;
        }
        .menu-item {
            text-align: center;
        }
        .more-link {
            display: block;
            text-align: right;
            color: #007BFF;
            text-decoration: none;
        }
        footer {
            background-color: #2d4739;
            color: white;
            text-align: center;
            padding: 10px;
            position: fixed;
            bottom: 0;
            width: 100%;
        }